services:
  # API 서비스 설정
  - type: web
    name: talkk-api
    env: ruby
    region: singapore
    plan: starter
    buildCommand: bundle install
    startCommand: bundle exec rake db:migrate && bundle exec rake db:seed || true && bundle exec puma -C config/puma.rb
    healthCheckPath: /health
    numInstances: 1
    domains:
      - talkk-api.onrender.com
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: talkk-db
          property: connectionString
      - key: RAILS_ENV
        value: production
      - key: RAILS_MASTER_KEY
        sync: false
      - key: FIREBASE_SERVICE_ACCOUNT_JSON
        sync: false


# 데이터베이스 정의
databases:
  # PostgreSQL 데이터베이스
  - name: talkk-db
    databaseName: talkk_production
    user: talkk_user
    plan: starter
    region: singapore