default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV["PG_USERNAME"] || "seunghan" %>
  password: <%= ENV["PG_PASSWORD"] || "" %>
  host: <%= ENV["PG_HOST"] || "localhost" %>
  pool: 5

development:
  primary:
    <<: *default
    database: talkk_api_development
  cache:
    <<: *default
    database: talkk_api_cache_development
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    database: talkk_api_queue_development
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    database: talkk_api_cable_development
    migrations_paths: db/cable_migrate

test:
  primary:
    <<: *default
    database: talkk_api_test
  cache:
    <<: *default
    database: talkk_api_cache_test
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    database: talkk_api_queue_test
    migrations_paths: db/queue_migrate
  cable:
    <<: *default
    database: talkk_api_cable_test
    migrations_paths: db/cable_migrate

staging:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    database: talkk_api_staging
  queue:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cache_migrate
  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cable_migrate

production:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    database: talkk_api_production
  queue:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cache_migrate
  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cable_migrate
