default: &default
  adapter: postgresql
  encoding: unicode
  username: <%= ENV["PG_USERNAME"] || "seunghan" %>
  password: <%= ENV["PG_PASSWORD"] || "" %>
  host: <%= ENV["PG_HOST"] || "localhost" %>
  pool: 5




development:
  <<: *default
  database: talkk_api_development

test:
  <<: *default
  database: talkk_api_test

staging:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  database: talkk_api_staging

production:
  primary:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    database: talkk_api_production
  queue:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/queue_migrate
  cache:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cache_migrate
  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
    migrations_paths: db/cable_migrate